@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sacramento&display=swap');

:root {
    --color-orange: #d74c35;
    --color-blue: #1c8ea0;
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-image: url(https://i.pinimg.com/564x/e6/d6/71/e6d67113377c20c86564269841cf6657.jpg);
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
    background-color: white;
    box-shadow: 1px 4px 3px rgb(196, 196, 196);
    font-family: 'Sacramento', cursive;
    font-size: 23px;
}

@media (max-width: 650px) {
    #header {
        flex-direction: column;
    }
}

#header-image {
    width: 100%;
    max-width: 120px;
    min-width: 60px;
    height: auto;
}

#nav-bar {
    margin-left: auto;
    padding: 0 50px;

}

.nav-link {
    margin-right: 20px;
    /* display: flex; */
}

@media (max-width: 650px) {

    #nav-bar {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: auto;
    }
}

a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: bolder;
}

a:hover {
    color: var(--color-orange);
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#home {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#label-email {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    height: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#email {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 300px;
    height: 20px;
}

#email:focus::placeholder {
    color: transparent;
}

#submit {
    margin-top: 15px;
    height: 35px;
    width: 140px;
    background-color: var(--color-orange);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

#email:focus {
    border-image: linear-gradient(to right, var(--color-orange), var(--color-blue));
    border-image-slice: 1;
}

#submit:hover {
    background-color: #1c8ea0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#deskripsi-home {
    display: flex;
    text-align: center;
    margin-top: -10px;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    color: var(--color-blue);
}

@media (max-width: 650px) {
    #home {
        margin-top: 150px;
    }

    #deskripsi-home {
        font-size: 15px;
    }
}

#home img {
    width: 100%;
    max-width: 460px;
    height: auto;
}

#menus {
    padding: 10px;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    color: var(--color-orange);
    margin-top: 15px;
}

hr {
    margin-top: -30px;
    border-left: 500px solid var(--color-blue);
}

#menus-category {
    margin-top: 20px;
    display: flex;
}

.food {
    color: blanchedalmond;
    background-color: var(--color-blue);
    /* padding: 10px; */
    box-shadow: 1px 5px 2px rgb(179, 179, 179);
    border-radius: 10px;
    padding: 10px;
}

#menus-category img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.price {
    font-size: 30px;
}

.food-name {
    font-size: 20px;
}

.buy {
    margin-top: auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: #d74c35;
    font-weight: bolder;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: var(--color-orange);
    color: white;
}


#video {
    margin-left: auto;
    margin-right: auto;
    background-color: #efb5d0;
    padding: 10px;
}

#reviews .container {
    margin-top: -50px;
} 

.review {
    width: 250px;
    border: 2px solid #efb5d0;
    border-radius: 20px;
}

.review img {
    /* width: 100%; */
    height: 100%;
    width: auto;
    max-height: 250px;
}

.review figcaption {
    max-height: 100px;
    width: auto;
    align-items: center;
}

.medsos {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 0;
}

.medsos img {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin-left: 20px;
}

.medsos figcaption {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;

}